src/main/webapp/WEB-INF/wsdl/ConsultaAutobusesService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Eclipse Metro/4.0.0-M3 (RELEASE-4.0.0-M3-eca3caa; 2022-02-24T09:46:27+0000) JAXWS-RI/4.0.0-M3 JAXWS-API/4.0.0 JAXB-RI/4.0.0-M3 JAXB-API/4.0.0 git-revision#eca3caa. -->
<definitions targetNamespace="http://business.ss.unican.es/" name="ConsultaAutobusesService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://business.ss.unican.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://business.ss.unican.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="DatosNoDisponibles" type="tns:DatosNoDisponibles"/>

      <xs:element name="ParadaNoValida" type="tns:ParadaNoValida"/>

      <xs:element name="consultaTUS" type="tns:consultaTUS"/>

      <xs:element name="consultaTUSResponse" type="tns:consultaTUSResponse"/>

      <xs:complexType name="consultaTUS">
        <xs:sequence>
          <xs:element name="arg0" type="xs:string" minOccurs="0"/>
          <xs:element name="arg1" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="consultaTUSResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="DatosNoDisponibles">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ParadaNoValida">
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="consultaTUS">
    <part name="parameters" element="tns:consultaTUS"/>
  </message>
  <message name="consultaTUSResponse">
    <part name="parameters" element="tns:consultaTUSResponse"/>
  </message>
  <message name="DatosNoDisponibles">
    <part name="fault" element="tns:DatosNoDisponibles"/>
  </message>
  <message name="ParadaNoValida">
    <part name="fault" element="tns:ParadaNoValida"/>
  </message>
  <portType name="IConsultaAutobuses">
    <operation name="consultaTUS">
      <input wsam:Action="http://business.ss.unican.es/IConsultaAutobuses/consultaTUSRequest" message="tns:consultaTUS"/>
      <output wsam:Action="http://business.ss.unican.es/IConsultaAutobuses/consultaTUSResponse" message="tns:consultaTUSResponse"/>
      <fault message="tns:DatosNoDisponibles" name="DatosNoDisponibles" wsam:Action="http://business.ss.unican.es/IConsultaAutobuses/consultaTUS/Fault/DatosNoDisponibles"/>
      <fault message="tns:ParadaNoValida" name="ParadaNoValida" wsam:Action="http://business.ss.unican.es/IConsultaAutobuses/consultaTUS/Fault/ParadaNoValida"/>
    </operation>
  </portType>
  <binding name="ConsultaAutobusesPortBinding" type="tns:IConsultaAutobuses">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

	<wsp:Policy wsu:Id="UsernameToken"
				xmlns:wsu="http://docs.oasis-open-org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
				xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp:Policy>
						<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/wssecuritypolicy/200702/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:HashPassword />
							</wsp:Policy>
						</sp:UsernameToken>	
					</wsp:Policy>
				</sp:SupportingTokens>
				
				</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
    <operation name="consultaTUS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="DatosNoDisponibles">
        <soap:fault name="DatosNoDisponibles" use="literal"/>
      </fault>
      <fault name="ParadaNoValida">
        <soap:fault name="ParadaNoValida" use="literal"/>
      </fault>
    </operation>
	  
  </binding>
  <service name="ConsultaAutobusesService">
    <port name="ConsultaAutobusesPort" binding="tns:ConsultaAutobusesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>


